<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/styles.css' />
    <link rel="shortcut icon" href="https://iconarchive.com/download/i87068/graphicloads/colorful-long-shadow/Cloud.ico" type="image/x-icon">

    <title>Weather</title>

  </head>
  <body>
    <div class="main-container">
      {{>header}}
      <p>Use this site to get your weather.</p>
      <form>
        <input placeholder="Location" type="text" required>
        <button>Search</button>
      </form>
      <h2 id="location-text"></h2>
      <p id="forecast-text"></p>
    </div>
    {{>footer}}
    <script src='/js/app.js'></script>
  </body>
</html>