body {
  color: #333;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.main-container{
  flex-grow: 1 ;
}

footer {
  border-top: 1px solid #999;
  color: #999;
  margin-top: 32px ;
  padding: 26px 0;
}

header{
  margin-top: 16px;
  margin-bottom: 48px;
}

h1{
  font-size: 3.5rem;
}
p{
  color: #333;
  font-weight: 700;
}
header a{
  color: #888;
  margin-right: 24px;
  text-decoration: none;
}

.car{
  width: 235px;
}
